{% extends 'correction_detection/main.html' %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-8">
			<a class="nav-link" href="/logout">Logout</a>
        </div>
    </div>
</nav> 

<br>

<form action="{% url 'portfolio' %}" method="POST">
    {%csrf_token%}
	<label for="name">Stock name:</label>
	<input type="text" id="name" name="name"><br>
    <label for="add">Add stock to watchlist: </label>
    <input type="submit" name="add" value="add">
    <br>
    <label for="remove">Remove stock from watchlist: </label>
    <input type="submit" name="remove" value="remove">
</form>

{% endblock %}